* {
    font-family:Arial, Helvetica, sans-serif;
}
.talk {
    color:salmon;
    background-color:lightblue;
    display: flex;
    flex: 1;
    height: 50px;
    width: 500px;
}
h1 {
    color:lightcyan;
    background-color: black;
    align-content: center;
    height: 35px;
    width: 500px;
    margin: 50px 50px 50px 900px;
}
button {
    background-color: black;
    color: white;
}